body{
    border: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.t{
    font-size:xx-large;
    text-align: center;
}
            

.menu{
    width: 100%;
    height: 70px;
    float: left;
    background-color:rgb(5, 245, 5);
    padding: 5px,5px,5px,5px;

}
ul{
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-left:62px ;
    margin-top: 27px;
    font-size: 16px;
}
.txt1{
   
    padding: 50px;
    left: 15%;
    top: 20%;
}
.img{
    
    width:100%;
    height: 50%;
}
.color{
    color:rgb(67, 60, 60);
    font-size: x-large;
}
.b{
    color: black;
}
.b1{
    color: black;
}
.col{
    font-size: x-large;
    text-align: center;
}
  .tex{
    font-size: medium;
    padding: 20px;
    float: left;
    text-align: center;
  }   
  div.picwrap{
    width: 100%;
    text-align: center;
    font-size: xx-large;

  }  
  div.pic{
    display: inline-block;
    padding: 35px;
  } 
  
 .hero-btn {
display: inline-block;
text-decoration: none;
color: black;
border-radius: 10px;
border: 1px solid #f5f3f3;
padding: 12px 34px;
font-size: 20px;
background: rgb(21, 169, 228);
position: relative;
cursor: pointer;
}

.hero-btn:hover {
border: 1px solid #d8e612;
background: #d8e612;
transition: 1s;
}
.sci{
align-items: center;
text-align: center;
padding: 15px;
background-color:rgb(5, 245, 5);

}
.topnav {
overflow: hidden;
background-color: green;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.centered {
position: absolute;
top: 20%;
left: 37%;
transform: translate(-50%, -50%);
}
p{
    font-size:1rem;
    color:var(--text-color);
    font-weight: 390;
    line-height: 1.75rem;
    letter-spacing: 1px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }